Official Windows Platform Sample/Using-network-loopback-in-side-loaded-Windows-27968/[C#]-Using network loopback in side-loaded Windows Store apps with WCF - Client app/C#/Service References/BooksService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BooksService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IBooksService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsam:Addressing>
          <wsp:Policy>
            <wsam:AnonymousResponses>
            </wsam:AnonymousResponses>
          </wsp:Policy>
        </wsam:Addressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfServiceHost" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBooksService_GetBookById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBookById" />
  </wsdl:message>
  <wsdl:message name="IBooksService_GetBookById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IBooksService_GetGenres_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGenres" />
  </wsdl:message>
  <wsdl:message name="IBooksService_GetGenres_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGenresResponse" />
  </wsdl:message>
  <wsdl:message name="IBooksService_GetBooksByGenre_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBooksByGenre" />
  </wsdl:message>
  <wsdl:message name="IBooksService_GetBooksByGenre_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBooksByGenreResponse" />
  </wsdl:message>
  <wsdl:portType name="IBooksService">
    <wsdl:operation name="GetBookById">
      <wsdl:input wsam:Action="http://tempuri.org/IBooksService/GetBookById" message="tns:IBooksService_GetBookById_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IBooksService/GetBookByIdResponse" message="tns:IBooksService_GetBookById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGenres">
      <wsdl:input wsam:Action="http://tempuri.org/IBooksService/GetGenres" message="tns:IBooksService_GetGenres_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IBooksService/GetGenresResponse" message="tns:IBooksService_GetGenres_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBooksByGenre">
      <wsdl:input wsam:Action="http://tempuri.org/IBooksService/GetBooksByGenre" message="tns:IBooksService_GetBooksByGenre_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IBooksService/GetBooksByGenreResponse" message="tns:IBooksService_GetBooksByGenre_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IBooksService" type="tns:IBooksService">
    <wsp:PolicyReference URI="#NetTcpBinding_IBooksService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetBookById">
      <soap12:operation soapAction="http://tempuri.org/IBooksService/GetBookById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGenres">
      <soap12:operation soapAction="http://tempuri.org/IBooksService/GetGenres" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBooksByGenre">
      <soap12:operation soapAction="http://tempuri.org/IBooksService/GetBooksByGenre" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BooksService">
    <wsdl:port name="NetTcpBinding_IBooksService" binding="tns:NetTcpBinding_IBooksService">
      <soap12:address location="net.tcp://localhost:8888/BooksService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8888/BooksService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>